body {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.word--nowrap {
  text-wrap: nowrap;
}

.v-align--center {
  display: flex;
  align-items: center;
}
